@import "tailwindcss";

html,
body,
#root {

    height: 100%;
    background-color: aliceblue;
}

@layer base{

    .main-back{
        min-height: 100vh !important;
        display: grid;
        grid-template-columns: 18rem 1fr;
        gap: 0.5rem;
        padding: 0.4rem;
    }
}

@layer components{

    .sidebar {
    min-height: calc(100vh - 0.8rem); /* Adjusting for your padding */
    border-radius: 1rem;
    background-color: white;
    position: sticky;
    top: 0.4rem;
    display: flex;
    flex-direction: column;
}

    .main-content{
        
        display: grid;
        grid-template-rows: auto 1fr;
        gap: 0.5rem;
    }

    .top{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
    }

    @media (max-width: 768px) {
    .top {
        grid-template-columns: 1fr;
        }
    }


    .box{

        background: white;
        border-radius: 1rem;
        padding: 1rem;
        height: 13rem;
    }

    .bottom{

        background: white;
        border-radius: 1rem;
        padding: 1rem;
        
    }
}
