@import "tailwindcss";

html,
body,
#root {

    height: 100%;
}

.parent{

    display: grid;
    place-items: center;
}

@layer components{

    .back-gradient {
        min-height: 100vh;
        background: linear-gradient(#004668, #d8d8d8 80%);
    }

    

    .login-back{
         height: 33em;
         width: 32em;
         background: linear-gradient(#598ca5, #ffffff 70%);
         border-radius: 1rem;
         box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.571);
         
    }

    .register-back{
         height: 39em;
         width: 32em;
         background: linear-gradient(#598ca5, #ffffff 70%);
         border-radius: 1rem;
         box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.571);
         
    }

    .fill{

        background-color: white;
        margin-bottom: 1rem;
        
    }

    .button-extra{

        width: 7rem;
        height: 3rem;
        background-color: #ffffff;
        color: black;
        border: 2px solid black;
        border-radius: 0.5rem !important;
        
        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: 0px 4px 8px rgba(111, 110, 110, 0.7) !important;
        
    }
    .button-extra:hover{

        background-color: #ebebeb;
       
    }

}

@layer utilities{

    .login-icon{

        position: relative;
        top:9%;
        left:43%;
        width: 4em;
        margin-bottom: 5rem;
        border-radius: 1rem;
        background-color: #ffffff;
        box-shadow: 0px 3px 10px rgba(111, 110, 110, 0.7);

    }

    .register-icon{

        position: relative;
        top:6%;
        left:43%;
        width: 3.1em;
        margin-bottom: 4rem;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0px 3px 10px rgba(111, 110, 110, 0.7);

    }


    .form-control{

        max-width: 20em;
        position: relative;
        left: 20%;
    }

    
}


